<a href="https://colab.research.google.com/github/nova0035/MACHINE-LEARNING-PRACTICALS/blob/main/practical_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Practical No.6: Write a Pandas program to implement following operatio

In [3]:
import numpy as np
import pandas as pd

- to convert a NumPy array to a Pandas series

In [6]:
print( pd.Series( np.array([1,2,3,4,5]) ) )

0    1
1    2
2    3
3    4
4    5
dtype: int64

- to convert the first column of a DataFrame as a Series

In [10]:
d = {
    1:[1,2,3],
    2:[4,5,6]
};

df = pd.DataFrame(d)

print(pd.Series(df.loc[0]))

1    1
2    4
Name: 0, dtype: int64

- to create the mean and standard deviation of the data of a given Series

In [18]:
series1 = pd.Series([1,4,5,34,6,32])

print(series1.mean()) # mean

print(series1.std()) # standard deviation

3.0
1.5811388300841898

- to sort a given Series

In [19]:
print(series1.sort_values())

0    1
1    2
2    3
3    4
4    5
dtype: int64